<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check Orders</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:8000/adminIndex">WantToEat</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/adminIndex">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/additem">AddItem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="http://localhost:8000/checkorder">Check Order</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <h2>Pending Orders</h2>
    <div class="row">
      <% orders.forEach(order => { %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-header">
              <h4>Table: <%= order.table %></h4>
            </div>
            <div class="card-body">
              <ul class="list-group">
                <% order.listFood.forEach(item => { %>
                  <li class="list-group-item">
                    <%= item %>
                  </li>
                <% }) %>
              </ul>
            </div>
            <div class="card-footer text-end">
              <form action="/confirmOrder" method="POST">
                <button type="submit" id="ServeOrder" class="btn btn-success"><%= order.status %></button>
              </form>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>

  <script>

  </script>
</body>

</html>
